/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --neutral-dk: #111;
    --neutral-md: #333;
    --neeutral-mdlt: #f1f1f1;
    --neutral-lt: #fff;
    --primary-1: purple;

     /* OTHER */
    --transition: all 300ms ease-in-out;
    font-size: 10px;
    line-height: 1.5;
}

/* MAIN STYLES */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
p {
  margin-bottom: 20px;
}
h1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 40px 0 20px 0;
}
a {
  color: var(--neutral-dk);
  text-decoration: none;
}
a:hover {
  opacity: 60%;
}
ul {
  list-style: none;
}

/* PAGE HEADER */
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-lt);
  background: var(--primary-1);
  height: 140px;
}

/* MAIN CONTENT */
main {
  padding: 20px 20px 100px 20px;
  max-width: 900px;
  margin: 0 auto;
}
p a {
    font-weight: 600;
}
.btn-primary {
    display: flex;
    gap: 1rem;
    background: var(--neutral-dk);
    color: var(--neutral-lt);
    width: fit-content;
    padding: 6px 12px;
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0,0,0,.2);
}
.btn-primary:hover {
    opacity: 1;
    background: var(--neutral-md);
}

/* SOCIAL BAR */
.social-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: var(--primary-1);
}
.social-bar i {
  font-size: 3rem;
}
.social-bar a {
  color: var(--neutral-lt);
}
.social-bar a:hover {
  opacity: 80%;
  transform: translateY(-5px);
  transition: var(--transition);
}

/* MEDIA QUERIES */
@media screen and (min-width: 750px) {
    .social-bar {
    right: 15px;
    width: fit-content;
    height: 60px;
    gap: 15px;
    padding: 0px 15px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}
}