/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 100%;
}
:root {
    /* COLORS */
    --neutral-dk: #222;
    --neutral-md: #444;
    --neutral-lt: #fff;
    --primary-1: #FCD5CE;
    --primary-2: #FFB5A7;

    /* OTHER */
    --transition: all 300ms ease-in-out;
    --nav-height: 70px;
    
    /* FONT */
    font-size: 10px;
    --font-standard: 1.8rem;
    --font-large: 2.4rem;
    --font-xlarge: 3rem;

    --serif: "Lora", serif;
    --sans-serif: "Open Sans", sans-serif;
}

/* MAIN STYLES */
body,html {
  font-size: var(--font-standard);
  font-family: var(--sans-serif);
  color: var(--neutral-dk);
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--nav-height) + 4rem);
}
p {
    margin: 2rem 0;
    color: var(--neutral-md);
}
h1, h2 {
    font-weight: 500;
    margin: 4rem 0 2rem 0;
}
h1 {
    font-family: var(--serif);
    font-size: var(--font-xlarge);
}
h2 {
    font-family: var(--sans-serif);
    font-size: var(--font-large); 
}
h2 i {
    font-size: 1.6rem;
    color: var(--primary-2);
}
a {
    color: var(--neutral-dk);
    text-decoration: none;
}
button {
    background: transparent;
    font-size: inherit;
    color: inherit;
}
a:hover, button:hover {
    opacity: 70%;
}
ul {
    list-style: none;
}

/* MAIN CONTENT */
/* A quick way to give the main content a responsive, centered, well-aligned style without media queries... */
.main-content {
    padding: 100px 5%;
    max-width: 900px;
    margin: 0 auto;
}

/* TOP NAV */
.page-header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-height);
    background: var(--primary-1);
    padding: 0 5%; /* matches left and right padding on main-content without max-width limitations */
}
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}
.logo {
    text-transform: uppercase;
    font-family: var(--serif);
    font-weight: 500;
    font-size: var(--font-large);
}
.menu-btn, .close-btn {
    font-size: var(--font-large);
}
.close-btn {
    display: none;
}
.link-list {
    position: fixed;
    top: var(--nav-height);
    right: 0;
    width: 100%;
    height: 0px;
    opacity: 96%;
    text-align: center;
    background: var(--primary-2);
    transition: var(--transition);
    overflow: hidden;
}
.nav-link {
    margin: var(--font-large) 0;
}
.nav-link i {
    padding-right: 1rem;
}
.nav-link:first-child {
    margin-top: var(--nav-height);
}
.link-list a {    
    font-size: var(--font-large);
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .1rem;
}
.open {
    height: calc(100% - var(--nav-height));
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
