/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --neutral-dk: #111;
    --neutral-lt: #fff;
    --primary-1: #fae9b7;

     /* OTHER */
    --transition: all 300ms ease-in-out;
    --nav-height: 60px;
    font-size: 10px;
    line-height: 1.5;
}

/* MAIN STYLES */
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: var(--neutral-dk);
    background: var(--primary-1);
}
p {
    margin-bottom: 20px;
}
h1 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0;
}
h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 40px 0 20px 0;
}
a {
    color: var(--neutral-dk);
    text-decoration: none;
}
a:hover {
    opacity: 60%;
}
ul {
    list-style: none;
}
.btn {
    background: transparent;
}

/* TOP NAV */
.menu-btn, .close-btn {
    display: none;
}
.menu-btn i, .close-btn i {
    font-size: 3rem;
}
.logo {
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: 800;
}
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 0 60px;
    background: var(--neutral-lt);
}
.link-list {
    display: flex;
    gap: 20px;
    padding-bottom: 3px;
    transition: var(--transition);
}
.social-list {
    display: flex;
    gap: 5px;
}
.social-list a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-lt);
    background: var(--neutral-dk);
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
.social-list i {
    font-size: 1.8rem;
}

/* MAIN CONTENT */
main {
    padding: 40px 20px;
}
p a {
    font-weight: 600;
}
.btn-primary {
    display: flex;
    gap: 1rem;
    background: var(--neutral-lt);
    width: fit-content;
    padding: 6px 12px;
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0,0,0,.1);
}
.btn-primary:hover {
    opacity: 1;
    background: var(--neutral-dk);
    color: var(--neutral-lt);
}

/* MEDIA QUERIES */
/* NOTE: I typically build navs with multiple links from a desktop-first approach while building the remaining content from a mobile first approach. */
@media screen and (max-width: 750px) {
    .top-nav {
        justify-content: flex-start;
        gap: 30px;
        padding: 0 20px;
    }
    .menu-btn {
        display: block;
    }
    .logo {
        margin-right: auto; /* pushes the social-list to the far right on mobile */
    }
    .link-list {
        position: absolute;
        top: var(--nav-height);
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        gap: 30px;
        height: 0;
        width: 0;
        opacity: 0;
        border-radius: 0 0 30px 0;
        background: var(--neutral-dk);
        overflow: hidden;
    }
    .link-list a {
        color: var(--neutral-lt);
        font-size: 2rem;
        letter-spacing: 1.2px;
    }
    .visible {
      display: block;
    }
    .hidden {
      display: none;
    }
    .open { 
        width: 100%;
        height: calc(100vh - var(--nav-height));
        opacity: 1;
        border-radius: initial;
    }
}
@media screen and (min-width: 750px) {
    main {
        padding: 60px;
        max-width: 900px;
        margin: 0 auto;
    }
}