@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 180px; /* keeps the heading of section scrolled to visible below the height of the top navigation */
}

:root {
  /* COLORS */
  --neutral-dk: #0f0326;
  --neutral-md: #999999;
  --neutral-lt: #fef5ef;
  --neutral-white: #fff;
  --primary: #e65f5c;

  /* FONT */
  --serif: "Lora", serif;
  --sans-serif: "Montserrat", sans-serif;
  --sans-alt: "Oswald", sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

/* MAIN STYLES */
body {
  font-size: 1.8rem;
  font-family: var(--sans-serif);
  color: var(--neutral-dk);
}
p {
  margin: 20px 0;
}
h1 {
  font-family: var(--serif);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 40px 0 20px;
}
h2 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  margin: 40px 0 20px;
}
ul {
  list-style: none;
}
input {
  outline: none; /* removes default outline/border when active */
}

/* BUTTONS & LINKS */
a {
  color: var(--neutral-dk);
  text-decoration: none;
}
.btn {
  background: transparent; /* get rid of that funky default gray background */
  cursor: pointer;
}
.main-btn {
  font-size: 1.4rem;
  border: 1px solid var(--neutral-md);
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--neutral-white);  
}
.main-btn:hover {
  color: var(--neutral-dk);
  background: var(--neutral-white);
}
.primary-btn {
   background: var(--primary);
}
.secondary-btn {
  background: var(--neutral-dk);
}

/* CONTAINERS */
.main-container { /* wraps all page content separating it from any headers/footers */
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.main-content { /* for this project, this class is assigned to the article element, allows for additional positioning within the parent flex container*/
  max-width: 900px;
  padding: 150px 20px 40px 20px; /* drops the main content down below the top navigation */
}

/* DESIGN ELEMENTS */
.heading-accent { 
  height: 5px;
  width: 30px;
  margin-top: -2rem;
  border-radius: 1px;
  background: var(--primary);
}

/* LOGO */
.logo {
  font-family: var(--sans-alt);
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.logo-left {
  font-weight: 300;
}
/* TOPNAV */
.page-header {
  position: fixed;
  width: 100%;
}
.tier-1,
.tier-2,
.tier-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
.tier-2,
.tier-3 {
  background: var(--neutral-lt);
  border-bottom: 1px solid var(--neutral-md);
}

/* TIER-1 */
.tier-1 {
  gap: 10px;
  color: var(--neutral-white);
  background: var(--neutral-dk);
  font-size: 1.2rem;
  padding: 1.6rem 0;
}
.tier-1-left {
  display: flex;
  gap: 1rem;
  font-family: var(--serif);
  font-size: 2rem;
}
.home-icon {
  font-size: 1.8rem;
}
.tier-1-details {
  display: none;
}
.arrow-icon {
  font-size: 1.8rem;
  transition: all 300ms ease-in-out;
}
.arrow-icon:hover {
  transform: scale(140%);
}

/* TIER-2 */
.tier-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem; /* only affects desktop */
}
.tier-2-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 62%;
  justify-content: space-between;
}
#search {
  display: none;
}
.search-icon {
  font-size: 2rem;
}
.search-icon:hover {
  color: var(--primary);
}
.user-account {
  display: flex;
  gap: 0.6rem;
}
.user-account .secondary-btn {
  display: none;
}

/* TIER-3 */
.tier-3 ul {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  padding: 1rem 0;
  text-transform: capitalize;
}
.tier-3 a {
  font-size: 1.4rem;
  font-weight: 500;
}
.tier-3 a:hover {
  color: var(--primary);
}

/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
  * {
    scroll-margin-top: 230px;
  }
  .main-content {
    padding: 200px 40px 40px 40px;
  }
  .tier-1-details {
    display: block;
  }
  .tier-2, .tier-3 {
    padding: 1.6rem 4rem;
  }
  .tier-2-left {
    flex-direction: row;
    width: 100%;
    gap: 2rem;
  }
  #search {
    display: block;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background: var(--neutral-white);
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--neutral-md);
  }
  .search-icon {
    font-size: initial;
  }
  .main-btn {
    width: 7rem;
    padding: 5px 0;
  }
  .user-account .secondary-btn {
  display: block;
  }
  .tier-3 a {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 900px) {
  .tier-1,
  .tier-2,
  .tier-3 {
    padding: 2rem 6rem;
  }
  .main-content {
    padding: 200px 60px 40px 60px;
  }
}
